/* unvisited link */
a:link {
    color: DeepSkyBlue;
}

/* visited link */
a:visited {
    color: DeepSkyBlue;
}

/* mouse over link */
a:hover {
    color: DeepSkyBlue;
}

/* selected link */
a:active {
    color: DeepSkyBlue;
}

.link a, .link a:link, .link a:visited, .link a:hover, .link a:active {
    color: DeepSkyBlue;
}

table.table-sc {
    background-color: transparent;
}

table.table-fullwidth {
    width: 100%;
}

tr.tr-comparison {
    border-top: 1px dotted;
    border-color: DarkSlateBlue;
}

tr.tr-wallofawesomeness {
    border-top: 1px dotted;
    border-color: DarkSlateBlue;
}

td.td-wallofawesomeness {
    padding-top: 20px;
}

td.td-nameinfo {
    padding-left: 35px;
    vertical-align: top;
}

td.td-externallinks {
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

td.td-quote {
    text-align: center;
}

td.td-matchvalues {
    color: Azure;
}

td.td-totalsvalues {
    color: OrangeRed;
}

td.td-stattotals {
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
}

td.td-loadingplayerinfo {
    height: 200px;
    padding: 10px;
    width: 10%;
    text-align: center;
}

td.td-comparewithfriends {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

th.th-h1match {
    text-align: center;
    color: CornflowerBlue;
}

th.th-h1totals {
    text-align: center;
    color: OrangeRed;
}

th.th-h2match {
    color: CornflowerBlue;
}

th.th-h2totals {
    color: OrangeRed;
}

p.p-externallinks {
    font-size: x-small;
}

img.img-avatarpadding {
    padding: 10px 10px 0px 10px;
}

.row-top {
    padding-top: 10px;
}

.row-footer {
    padding-top: 50px;
}

.row-welcomepage {
    padding-top: 50px;
}

.row-welcomepage-footer {
    padding-top: 100px;
}

.col-leftelement {
    padding-left: 20px;
}

.col-leftborder {
    padding-left: 10px;
}

.txt-steamid {
    padding-left: 7px;
    letter-spacing: 5px;
    font-size: xx-small;
}

.txt-realname {
    font-size: medium;
    padding-left: 10px;
}

.txt-quote {
    font-style: italic;
}

.txt-gatheringsteam {
    padding-left: 50px;
}

.well-news {
    height: 130px;
}

.well-tweets {
    height: 150px;
}

.fa-lefttext {
    padding-left: 5px;
}

 .fa-righttext {
    margin-right    : 15px;
}

.split-left-40 {
    float: left;
    width: 40%;
}

.split-right-60 {
    float: right;
    width: 60%;
}

.links-socialmedialinks {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcomepage {
    background-image: url('/app/images/backgrounds/welcomeBg2.png');
    background-repeat: repeat-x;
    background-size: 100%;
    background-position:0px 10px;
}

.div-badges {
    padding-top: 10px;
}

.img-badges {
    display: inline;
    vertical-align: top;
    float: none;
}

.imanoob {
    padding-bottom: 40px;
}

.nowrap {
    white-space: nowrap;
}

.alert-top {
    padding-bottom: 50px;
}
