<div class="row" data-ng-if="news">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well well-lg well-news">
        <div>counter-strike: global offensive news</div>
        <div data-ng-repeat="newsitem in news" data-ng-click="">
            <a data-ng-href="{{newsitem.url}}" target="_blank">{{newsitem.feedlabel}} : {{newsitem.title}}</a>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row" data-ng-if="!news">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well well-lg well-news">
        <i class="fa fa-cog fa-spin fa-5x"></i><span class="txt-gatheringsteam">gathering steam, please wait...</span><br/>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well well-lg well-tweets">
        <div twitter-timeline="590103210792202240" auto-resize="true" css-url="" data-tweet-limit="1"><i class="fa fa-cog fa-spin fa-5x"></i><span class="txt-gatheringsteam">gathering steam, please wait...</span></div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="form-group">
            <label class="control-label" for="inputSearch">search</label>
            <input class="form-control input-sm" type="text" id="inputSearch" data-ng-model="query">
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th data-ng-click="orderProp='personaname'">player name</th>
                        <th data-ng-click="orderProp='realname'">real name</th>
                        <th data-ng-click="orderProp='steamid'">steam id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="player in players | filter:query | orderBy:orderProp" data-ng-click="showPlayer(player)">
                        <td><img data-ng-src="{{player.avatar}}"/></td>
                        <td><a data-ng-href="#/players/{{player.steamid}}">{{player.personaname}}</a></td>
                        <td>{{player.realname}}</td>
                        <td>{{player.steamid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>
