<div data-ng-if="tooManyPlayers">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1>oh, shit!</h1>
            <h3>players buffer overload error</h3>
            <p>sorry, bud. but i just can't compare that many players. i know, i suck.</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<div data-ng-if="!tooManyPlayers && playerData.playerExtras">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1>player comparison</h1>
        </div>
        <div class="col-lg-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <div class="table-responsive">
                <table class="table-sc table-fullwidth">
                <tbody>
                    <!--
                    <tr class="tr-comparison">
                        <td>subscriber:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            {{playerData.is_subscriber[player]}}
                        </td>
                    </tr>
                    -->
                    <tr>
                        <td style="min-width: 150px;">&nbsp;</td>
                        <td style="width:10px;">&nbsp;</td>
                        <td style="width: {{ 90 / players.length }}%;" data-ng-repeat="player in players">
                            <a data-ng-href="#/players/{{player}}">
                                <img title="go to {{playerData.playerSummaries[player].personaname}}'s page" alt="" data-ng-src="{{playerData.playerSummaries[player].avatarmedium}}"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="St&#603;amChamber ranking points" class="nowrap">sc ranking:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].steamchamber_ranking}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'steamchamber_ranking', 'max') === playerData.playerExtras[player].steamchamber_ranking"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="summaries status of all match results" class="nowrap">win status:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].total_win_status}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'total_win_status', 'max') === playerData.playerExtras[player].total_win_status"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the average amount of matches that is won" class="nowrap">average wins:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players" data-ng-if="playerData.playerExtras[player]">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_wins*100 | number:2}} %</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_wins', 'max') === playerData.playerExtras[player].average_wins"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="longest set of matches in a row with a victory" class="nowrap">win streak:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].longest_win_streak}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'longest_win_streak', 'max') === playerData.playerExtras[player].longest_win_streak"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="best score in one match" class="nowrap">best score:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].highscore_cscore}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'highscore_cscore', 'max') === playerData.playerExtras[player].highscore_cscore"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="average score for all matches" class="nowrap">avg score:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_contribution_score}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_contribution_score', 'max') === playerData.playerExtras[player].average_contribution_score"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the most number of mvps achieved in a match" class="nowrap">most mvps:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].highscore_mvps}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'highscore_mvps', 'max') === playerData.playerExtras[player].highscore_mvps"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the average number of mvps for all matches" class="nowrap">avg mvps:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_mvps}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_mvps', 'max') === playerData.playerExtras[player].average_mvps"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the best kill/death ratio achieved in a match" class="nowrap">best kd:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].highscore_kd}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'highscore_kd', 'max') === playerData.playerExtras[player].highscore_kd"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the average kill/death ratio for all matches" class="nowrap">avg kd:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_kd}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_kd', 'max') === playerData.playerExtras[player].average_kd"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="most kills achieved in a match" class="nowrap">most kills:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].highscore_kills}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'highscore_kills', 'max') === playerData.playerExtras[player].highscore_kills"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="average number of kills for all matches" class="nowrap">avg kills:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_kills}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_kills', 'max') === playerData.playerExtras[player].average_kills"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="average number of deaths for all matches" class="nowrap">avg deaths:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players" data-ng-if="playerData.playerExtras[player]">
                            <div class="split-left-40">{{-playerData.playerExtras[player].average_deaths}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_deaths', 'max') === playerData.playerExtras[player].average_deaths"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the best favourite weapon accuracy achieved in a match" class="nowrap">best accuracy:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players" data-ng-if="playerData.playerExtras[player]">
                            <div class="split-left-40">{{playerData.playerExtras[player].highscore_accuracy*100 | number:2}} %</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'highscore_accuracy', 'max') === playerData.playerExtras[player].highscore_accuracy"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="average favourite weapon accuracy for all maatches" class="nowrap">avg accuracy:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players" data-ng-if="playerData.playerExtras[player]">
                            <div class="split-left-40">{{playerData.playerExtras[player].average_accuracy*100 | number:2}} %</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'average_accuracy', 'max') === playerData.playerExtras[player].average_accuracy"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                    <tr class="tr-comparison">
                        <td title="the total number of hours played" class="nowrap">hours played:</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">
                            <div class="split-left-40">{{playerData.playerExtras[player].hours_played}}</div>
                            <div class="split-right-60"><i class="fa fa-trophy" data-ng-if="getHighscore(playerData.playerExtras, 'hours_played', 'max') === playerData.playerExtras[player].hours_played"></i></div>
                        </td>
                    </tr>
                    <tr class="tr-comparison">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td data-ng-repeat="player in players">&nbsp;</td>
                    </tr>
                </tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
