
<!-- if a subscriber -->
<div data-ng-if="playerSteamchamberStatus.is_subscriber == true">

    <!-- inactive subscriber info -->
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8 alert-top">
            <div class="alert alert-dismissible alert-danger" data-ng-if="playerSteamchamberStatus.subscription.match('inactive-')">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>inactive profile!</strong><br/>current profile is inactive. no new logging of match statistics will be done, and profile is set to be deleted.
            </div>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

    <!-- avatar, steam id, name and location -->
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
            <center>
                <div class="table-responsive">
                    <table class="table-sc">
                        <tr>
                        <td>
                            <img data-ng-src="{{playerProfileInfo.avatarfull}}"/><br/>
                            <span title="Steam64 id" class="txt-steamid">{{playerProfileInfo.steamid}}</span>
                        </td>
                        <td class="td-nameinfo">
                            <p>
                                <h3>{{playerProfileInfo.personaname}}</h3>
                                <span data-ng-bind-html="playerProfileInfo.loccountrycode | flagFilter"></span>
                                <span class="txt-realname">{{playerProfileInfo.realname}}</span><br/>
                                <div class="div-badges">
                                    <div class="img-badges" data-ng-if="playerExtras.total_matches >= 10 && playerSteamchamberStatus.subscription === 'full'">
                                        <!-- the chucker -->
                                        <img title="the chucker: bronze medal" data-ng-src="/app/images/badges/theChucker_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kills >= 45 && playerExtras.highscore_kills < 55" />
                                        <img title="the chucker: silver medal" data-ng-src="/app/images/badges/theChucker_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kills >= 55 && playerExtras.highscore_kills < 65" />
                                        <img title="the chucker: gold medal" data-ng-src="/app/images/badges/theChucker_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kills >= 65" />
                                        &nbsp;
                                        <!-- the smurfer -->
                                        <img title="the smurfer: bronze medal" data-ng-src="/app/images/badges/theSmurfer_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kd >= 6 && playerExtras.highscore_kd < 8" />
                                        <img title="the smurfer: silver medal" data-ng-src="/app/images/badges/theSmurfer_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kd >= 8 && playerExtras.highscore_kd < 10" />
                                        <img title="the smurfer: gold medal" data-ng-src="/app/images/badges/theSmurfer_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_kd >= 10" />
                                        &nbsp;
                                        <!-- the win streaker -->
                                        <img title="the win streaker: bronze medal" data-ng-src="/app/images/badges/theWinStreaker_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.longest_win_streak >= 6 && playerExtras.longest_win_streak < 8" />
                                        <img title="the win streaker: silver medal" data-ng-src="/app/images/badges/theWinStreaker_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.longest_win_streak >= 8 && playerExtras.longest_win_streak < 10" />
                                        <img title="the win streaker: gold medal" data-ng-src="/app/images/badges/theWinStreaker_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.longest_win_streak >= 10" />
                                        &nbsp;
                                        <!-- the highscorer -->
                                        <img title="the highscorer: bronze medal" data-ng-src="/app/images/badges/theHighscorer_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_cscore >= 90 && playerExtras.highscore_cscore < 100" />
                                        <img title="the highscorer: silver medal" data-ng-src="/app/images/badges/theHighscorer_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_cscore >= 100 && playerExtras.highscore_cscore < 110" />
                                        <img title="the highscorer: gold medal" data-ng-src="/app/images/badges/theHighscorer_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_cscore >= 110" />
                                        &nbsp;
                                        <!-- the accurate -->
                                        <img title="the accurate: bronze medal" data-ng-src="/app/images/badges/theAccurate_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_accuracy >= 0.6 && playerExtras.highscore_accuracy < 0.7" />
                                        <img title="the accurate: silver medal" data-ng-src="/app/images/badges/theAccurate_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_accuracy >= 0.7 && playerExtras.highscore_accuracy < 0.8" />
                                        <img title="the accurate: gold medal" data-ng-src="/app/images/badges/theAccurate_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_accuracy >= 0.8" />
                                        &nbsp;
                                        <!-- the mvper -->
                                        <img title="the mvper: bronze medal" data-ng-src="/app/images/badges/theMvper_bronze_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_mvps >= 8 && playerExtras.highscore_mvps < 10" />
                                        <img title="the mvper: silver medal" data-ng-src="/app/images/badges/theMvper_silver_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_mvps >= 10 && playerExtras.highscore_mvps < 12" />
                                        <img title="the mvper: gold medal" data-ng-src="/app/images/badges/theMvper_gold_s.png" style="width: 64px;" data-ng-if="playerExtras.highscore_mvps >= 12" />
                                    </div>
                                </div>
                            </p>
                        </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

    <!-- totals, external links, social media links -->
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">

            <div class="table-responsive">
                <table class="table-sc table-fullwidth" data-ng-if="playerProfileInfo" border="0">
                    <tr><td></td></tr>
                    <tr data-ng-if="playerSteamchamberStatus.subscription === 'full'">
                        <!-- player's total stats -->
                        <td class="td-stattotals">
                            <p>
                                <span title="St&#603;amChamber ranking"><span data-ng-if="playerExtras">&#10016;</span> {{playerExtras.steamchamber_ranking}}</span>
                                <span title="mvps" class="col-leftelement" data-ng-bind-html="playerExtras.total_mvps | mvpFilter"></span>
                                <span title="matches won" class="col-leftelement" data-ng-bind-html="playerExtras.total_wins | winFilter"></span>
                                <span title="% of all matches that is won" class="col-leftelement">{{playerExtras.average_wins | numToPercentageFilter:0:"":"&#9989;"}}</span>
                                <span title="total win status, in won matches with at least one mvp achieved" class="col-leftelement">{{playerExtras.total_win_status_mvps | ifDefined:"":"&#9672;"}}</span>
                                <span title="longest win streak" class="col-leftelement">{{playerExtras.longest_win_streak | ifDefined:"":"&#10024;"}}</span>
                                <span title="average contribution score" class="col-leftelement">{{playerExtras.average_contribution_score | ifDefined:"":"&#10034;"}}</span>
                                <span title="headshots" class="col-leftelement" data-ng-bind-html="player.statistics[player.statistics.length-1].total_kills_headshot | headshotFilter"></span>
                                <span title="% of all shots that results in a one bullet headshot kill" class="col-leftelement">{{player.statistics[player.statistics.length-1].total_headshot_kill_ratio | numToPercentageFilter:2:"":"&#9760;"}}</span>
                                <span title="hours played" class="col-leftelement" data-ng-bind-html="player.statistics[player.statistics.length-1].total_time_played | timeFilter"></span>
                            </p>
                        </td>
                    </tr>
                    <!-- compare with friends button -->
                    <tr data-ng-if="playerSteamchamberStatus.subscription === 'full'"><td class="td-comparewithfriends"><a title="compare with friends on Steam, that also are subscribers to St&#603;amChamber" class="btn btn-primary btn-xs" data-ng-if="friends" data-ng-click="showFriendsComparison(playerProfileInfo.steamid,friends)">friends comparison</a></td></tr>
                    <tr>
                        <!-- links to external pages -->
                        <td class="td-externallinks">
                            <p class="p-externallinks link">
                                | <a data-ng-href="{{playerProfileInfo.profileurl}}" target="_blank"><i class="fa fa-steam"></i> profile</a>
                                | <a data-ng-href="https://steamdb.info/calculator/{{steamid}}" target="_blank">steamdb.info</a>
                                | <a data-ng-href="http://www.steamid.co.uk/profile/{{steamid}}" target="_blank">steamid.co.uk</a>
                                | <a data-ng-href="http://steamrep.com/profiles/{{steamid}}" target="_blank">steamrep.com</a>
                                | <a data-ng-href="http://www.vacbanned.com/view/detail/id/%20{{steamid}}" target="_blank">vacbanned.com</a>
                                |
                            </p>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <!-- quote -->
                    <tr>
                        <td class="td-quote">
                            <span class="txt-quote">{{quote}}</span>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <!-- share on social media -->
                        <td class="links-socialmedialinks link">
                            <a data-ng-href="https://twitter.com/share?text={{playerProfileInfo.personaname}}%20is%20&#64;SteamChamber.%20View%20the%20profile%3A&amp;hashtags=SteamChamber,St&#603;amChamber,CSGO&amp;url=http://steamchamber.com/app/%23/players/{{playerProfileInfo.steamid}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter" title="share on twitter"></i></a>

                            <a data-ng-href="http://www.facebook.com/sharer.php?u=http://steamchamber.com/app/%23/players/{{playerProfileInfo.steamid}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook col-leftelement" title="share on facebook"></i></a>

                            <a data-ng-href="https://plus.google.com/share?url=http://steamchamber.com/app/%23/players/{{playerProfileInfo.steamid}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus col-leftelement" title="share on google+"></i></a>

                            <a data-ng-href="mailto:?subject={{playerProfileInfo.personaname}}%20&#64;%20St&#603;amChamber&#33&body=View%20my%20profile%20on%20St&#603;amChamber%3A%0D%0Ahttp://steamchamber.com/app/%23/players/{{playerProfileInfo.steamid}}%0D%0A%0D%0A&#8211;&#8211;%0D%0ASt&#603;amChamber%20%3A%20counter&#8211;strike%20global%20offensive%20players%20match%20statistics%20tracker" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-envelope-o col-leftelement" title="share via e-mail"></i></a>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                </table>
            </div>

            <!-- loading, please wait... -->
            <table class="table-sc table-fullwidth" data-ng-if="!playerProfileInfo">
                <tr>
                    <td class="td-loadingplayerinfo">
                        <i class="fa fa-cog fa-spin fa-5x"></i> <span class="txt-gatheringsteam">gathering steam, please wait...</span>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
            </table>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

    <!-- chart -->
    <div class="row" data-ng-if="player.statistics[0]">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
            <div data-ng-if="player.statistics" google-chart chart="chart" style="{{chart.cssStyle}}"></div>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

    <!-- match data -->
    <div class="row" data-ng-if="player.statistics[0]">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">

            <div class="table-responsive">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th colspan="11" class="th-h1match" style="border-color: CornflowerBlue;">match</th>
                            <th colspan="2" class="th-h1totals" style="border-color: OrangeRed;">totals</th>
                        </tr>
                        <tr>
                            <th class="th-h2match" title="win, draw or loss (wdl)" data-ng-click="orderProp='last_match_win_status'">wdl</th>
                            <th class="th-h2match" title="when match data was gathered from Steam, utc time" data-ng-click="orderProp='fetched_timestamp'">when (utc)</th>
                            <th class="th-h2match" title="result = -((total_rounds/2)-won_rounds)" data-ng-click="orderProp='last_match_win_status'">result</th>
                            <th class="th-h2match" title="rounds won / total rounds" data-ng-click="orderProp='last_match_wins'">wins</th>
                            <th class="th-h2match" title="rounds lost / total rounds" data-ng-click="orderProp='last_match_losses'">losses</th>
                            <th class="th-h2match" title="favourite weapon" data-ng-click="orderProp='last_match_favweapon_id'">fav</th>
                            <th class="th-h2match" title="accuracy with favourite weapon" data-ng-click="orderProp='last_match_favweapon_accur'">acc.fav.</th>
                            <th class="th-h2match" title="kills, including warm up round" data-ng-click="orderProp='last_match_kills'">kills</th>
                            <th class="th-h2match" title="kills per death, including warm up round" data-ng-click="orderProp='last_match_kd'">kd</th>
                            <th class="th-h2match" title="score" data-ng-click="orderProp='last_match_contribution_score'">score</th>
                            <th class="th-h2match" title="mvps" data-ng-click="orderProp='last_match_mvps'">mvps</th>
                            <th class="th-h2totals" title="accumulated mvps (all match types)">mvps</th>
                            <th class="th-h2totals" title="accumulated match wins (all match types)">wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="stat in player.statistics | filter:query | orderBy:orderProp | reverse" class="{{stat.last_match_type +':'+ stat.last_match_win_status | matchResultToColourFilter}}" data-ng-click="showMatchDetails(stat)">
                            <td class="td-matchvalues"><span data-ng-bind-html="stat.last_match_win_status | matchResultFilter: stat.last_match_type:stat.last_match_win_status"></span></td>
                            <td class="td-matchvalues">{{stat.fetched_timestamp | dateFilter}}</td>
                            <td class="td-matchvalues">{{stat.last_match_win_status}}</td>
                            <td class="td-matchvalues">{{stat.last_match_wins}}/{{stat.last_match_rounds}}</td>
                            <td class="td-matchvalues">{{stat.last_match_losses}}/{{stat.last_match_rounds}}</td>
                            <td class="td-matchvalues">{{stat.last_match_favweapon_id | weaponFilter:items}}</td>
                            <td class="td-matchvalues">{{stat.last_match_favweapon_accur | numToPercentageFilter}}</td>
                            <td class="td-matchvalues">{{stat.last_match_kills}}</td>
                            <td class="td-matchvalues">{{stat.last_match_kd | roundNumberFilter:1}}</td>
                            <td class="td-matchvalues">{{stat.last_match_contribution_score}}</td>
                            <td class="td-matchvalues">{{stat.last_match_mvps}}</td>
                            <td class="td-totalsvalues">{{stat.total_mvps}}</td>
                            <td class="td-totalsvalues">{{stat.total_matches_won}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

    <div class="row" data-ng-if="playerExtras.total_matches >= 1">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
            <p>
                <a href="/rpc.py?method=GetStatForPlayerAsJson&steamid={{steamid}}" target="_blank">results as json</a> |
                <a href="/rss.py?{{steamid}}" target="_blank">results as rss feed</a>
            </p>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>

</div>

<!-- none subscriber's info -->
<div data-ng-if="playerSteamchamberStatus.is_subscriber == false && playerProfileInfo">
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8" data-ng-controller="HeaderCtrl">
            <center>
            <table class="table-sc">
            <tr>
                <td colspan="2">
                    <h1>don't be a loser, <a data-ng-href="" data-ng-click="showSignup()">sign up</a> as a user !</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-avatarpadding" data-ng-src="{{playerProfileInfo.avatarmedium}}"/>
                </td>
                <td>
                    holy fire in the hole! "{{playerProfileInfo.personaname}}" <span data-ng-if="playerProfileInfo.realname">(aka. {{playerProfileInfo.realname}})</span> is not a St&#603;amChamber member.<br>
                    it is unbelievable. if this player happens to be you, <a data-ng-href="" data-ng-click="showSignup()">sign up</a>, instead of staying frosty and missing out on the fun.
                </td>
            </tr>
            </table>
            </center>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>

<!-- not a valid user -->
<!-- note: this will be valid the first time a player get's the info load, hence commented out, for now. need a better check -->
<!--
<div data-ng-if="!playerProfileInfo">
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8" data-ng-controller="HeaderCtrl">
            <h1>yeah, right...</h1>
            <h4>there is no player with that steam id!</h4>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>
-->
