<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-5 col-lg-4">
        <div class="jumbotron">
            <div style="height: 450px;">
                <h1><i class="fa fa-battery-full fa-righttext"></i>full </h1>
                <br/>
                <h5>price</h5>
                <ul>
                    <li>$9.99 (one time payment)</li>
                </ul>
                <h5>requirements</h5>
                <ul>
                    <li>none (read below)</li>
                </ul>
                <h5>limitations</h5>
                <ul>
                    <li>none (read below)</li>
                </ul>
                </h5>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" title="free subscription sign up" data-ng-href="" data-ng-click="showSignupFull()">sign up for a full subscription</a>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="jumbotron">
            <div style="height: 450px;">
                <h1><i class="fa fa-battery-half fa-righttext"></i> free</h1>
                <br/>
                <h5>price</h5>
                <ul>
                    <li>free</li>
                </ul>
                <h5>requirements</h5>
                <ul>
                    <!--li>player's primary group must be set to "<a href="http://steamcommunity.com/groups/steamchamberpublic" target="_blank">SteamChamber public</a>"</li-->
                    <li>subscribing player's name must include the text "SteamChamber.com"</li>
                </ul>
                <h5>limitations</h5>
                <ul>
                    <li>players with a free subscription will not take part of any competitions, nor are eligible for any prizes or give-aways</li>
                </ul>
                </h5>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" title="free subscription sign up" data-ng-href="" data-ng-click="showSignupFree()">sign up for a free subscription</a>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>

<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
        <div class="well">
            <h6>disclaimer</h6>
            <ul>
            <li>St&#603;amChamber can not promise that all your match data will be saved, or that all saved data is correct. before signing up, <a href="http://steamchamber.blogspot.com/2015/03/tracking-match-data.html" target="_blank">do read this blog post</a>, to familiarise yourself with data collecting issues.</li>
            </ul>
        </div>
        <div class="well">
            <h6>info</h6>
            <ul>
            <li>it can take up to 24 hours from signing up till your account is ready</li>
            <li>if no new match data is registered for a period of 90 days, automatically data fetching will be suspended, and has to be reactivated, by <a title="contact" data-ng-href="" data-ng-click="showContact()">contacting us</a></li>
            <li>if you do sign up using a fake email address, or without providing a link to a public steam profile, the registration process will fail.</li>
            </ul>
        </div>
        <div class="well">
            <h5>f.a.q.</h5>

            <h6>q. what is my Steam community URL?</h6>
            <p>a. it is the URL to your public Steam profile, for example <a href="http://steamcommunity.com/id/klevstul" target="_blank">http://steamcommunity.com/id/klevstul</a>, or <a href="http://steamcommunity.com/profiles/76561198147380726" target="_blank">http://steamcommunity.com/profiles/76561198147380726</a>.</p>

            <h6>q. do my profile have to be public?</h6>
            <p>a. yes! otherwise we can't get access to your data.</p>

            <h6>q. do I need a PayPal account to sign up for a paid subscription?</h6>
            <p>a. no! you can use PayPal without having a PayPal account.</p>

            <h6>q. can you guys close this service?</h6>
            <p>a. we can not predict the future. what we can say, is that we will try to give all our paid subscribers at least one year of statistics fetching. so keep signing up, and we'll do our best to run this service. we are equally addicted to csgo statistics as you guys might become, and is constantly using and improving this service.</p>

            <h6>q. i have more questions!</h6>
            <p>a. <a title="contact" data-ng-href="" data-ng-click="showContact()">contact us!</a></p>
        </div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>
