<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
        <h1>welcome</h1>
        <h4>it is wonderful to have you onboard. you will get an email with a link to your own profile on steamchamber.com, within 24 hours.</h4>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>
