<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
        <h1>welcome</h1>
        <h4>awesome to have you onboard. you will get an email with a link to your own profile on steamchamber.com, within 24 hours.</h4>
        <br/>
        <h6>please be aware of the free subscription's <a ng-href="#/signup">requirements and limitations</a>. if these requirements are breached at any time, your subscription will be terminated. if you want a subscription without any limitations, please consider upgrading to a <a ng-href="#/signup">full subscription</a>.</h6>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>
