<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">
        <h1>wall of awesomeness</h1>
        <h4>if you are on this list, you are awesome. it is just that dead simple.</h4>

        <!-- share on social media -->
        <div class="links-socialmedialinks">
            <a data-ng-href="https://twitter.com/share?text=&#64;SteamChamber%20{{getTitle(true)}}&amp;hashtags=SteamChamber,St&#603;amChamber,CSGO&amp;url={{getLocation(true)}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter" title="share on twitter"></i></a>

            <a data-ng-href="http://www.facebook.com/sharer.php?u={{getLocation(true)}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook col-leftelement" title="share on facebook"></i></a>

            <a data-ng-href="https://plus.google.com/share?url={{getLocation(true)}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus col-leftelement" title="share on google+"></i></a>

            <a data-ng-href="mailto:?subject={{getTitle(true)}}&body={{getTitle(true)}}%3A%0D%0A{{getLocation(true)}}%0D%0A%0D%0A&#8211;&#8211;%0D%0ASt&#603;amChamber%20%3A%20counter&#8211;strike%20global%20offensive%20players%20match%20statistics%20tracker" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-envelope-o col-leftelement" title="share via e-mail"></i></a>
        </div>

    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-md-10 col-lg-8">

        <div class="table-responsive">
            <table class="table-sc table-fullwidth">
            <thead>
            <tr>
                <th width="2%"></th>
                <th><h4>what</h4></th>
                <th><h4>whom</h4></th>
                <th><h4>result</h4></th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr-wallofawesomeness" data-ng-repeat="(key, value) in wallOfAwesomeness">
                <td class="td-wallofawesomeness">&nbsp;</td>
                <td><h5>{{key | extrasParameterTranslation}}</h5></td>
                <td><h5><a title="go to player's page" data-ng-href="#/players/{{value.steamid}}">{{value.personaname}}</a></h5></td>
                <td><h5>{{value.value | awesomenessValue}}</h5></td>
            </tr>
            </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>
