<!--div class="welcomepage"-->
<div class="row" style="text-align: center;">
    <img style="max-width: 80%;" src="/app/images/logos/scLogoBig.png"/>
</div>

<div class="row row-welcomepage">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2>welcome</h2>
        <h4>St&#603;amChamber is a subscription based solution where "counter-strike: global offensive" players get their competitive match statistics tracked over time. subscribing players get their own pages, where they can view saved stats , check out their progress, plus a hole lot more.</h4>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row row-welcomepage">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 imanoob">
        <h2>i'm a noob</h2>
        <a class="btn btn-primary" data-ng-href="" data-ng-click="goToSignupPage()">sign up as a new member!</a>
        <h4>
            <a href="#/players/76561197971281831">player profile example</a><br/>
        </h4>
    </div>
    <div class="col-sm-4">
        <h2>i'm a member</h2>
        <div>
            <table class="sc-table">
            <tr>
                <td>
                    <form name="goToForm">
                    <input
                        name                = "steamidInput"
                        placeholder         = "steam 64 id"
                        class               = "form-control"
                        type                = "text"
                        data-ng-model       = "steamid"
                        data-ng-minlength   = "17"
                        data-ng-maxlength   = "17"
                        data-ng-trim        = true
                        pattern             = "[0-9]*"
                        required
                    />
                    </form>
                </td>
                <td style="padding-left: 10px;">
                    <a data-ng-if="goToForm.$valid" class="btn btn-primary" data-ng-click="goToPlayerPage(steamid)">go!</a>
                    <a data-ng-if="!goToForm.$valid" class="btn btn-default" >go!</a>
                </td>
            </tr>
            </table>
            <h4>
                <a href="#/players">list of players</a>
            </h4>
        </div>

        <!-- nifty info for debugging
            <tt>steamid = {{steamid | json}}</tt><br/>
            <tt>goToForm.steamidInput.$valid = {{goToForm.steamidInput.$valid}}</tt><br/>
            <tt>goToForm.steamidInput.$error = {{goToForm.steamidInput.$error}}</tt><br/>
            <tt>goToForm.steamidInput.$valid = {{goToForm.steamidInput.$valid}}</tt><br/>
            <tt>goToForm.steamidInput.$error = {{goToForm.steamidInput.$error}}</tt><br/>
            <tt>goToForm.$valid = {{goToForm.$valid}}</tt><br/>
            <tt>goToForm.$error.required = {{!!goToForm.$error.required}}</tt><br/>
            <tt>goToForm.$error.minlength = {{!!goToForm.$error.minlength}}</tt><br/>
            <tt>goToForm.$error.maxlength = {{!!goToForm.$error.maxlength}}</tt><br/>
        -->
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row row-welcomepage-footer"></div>
<!--/div-->
