<p>
WHAT IT IS:<br/>
St&#603;amChamber (steamchamber.com) is a subscription based solution where "counter-strike: global offensive" players get their competitive match statistics tracked over time. subscribing players get their own pages, where they can view stats, progress, download own stat, plus more.
<br/><br/>
HOW DATA IS RECEIVED:<br/>
statistics are gathered from <a href="http://steampowered.com/" target="_blank">valve's steam</a> solution. however, the steamchamber.com solution is in no way affiliated with valve itself.
<br/><br/>
DISCLAIMER:<br/>
valve might change their api at any time. hence steamchamber can give no guarantees that the statistics can be gathered for all future. having said that, this data has already been provided by valve, through steam, for years, and no indications are given that this will end soon.
<br/><br/>
there are limitations related to collecting match data. <a href="http://steamchamber.blogspot.com/2015/03/tracking-match-data.html" target="_blank">please read this blog post</a> for more information.
<br/><br/>
PRIVACY:<br/>
St&#603;amChamber is only storing data from public steam profiles. the data is stored on St&#603;amChamber's servers located in the netherlands. steamchamber.com is using google analytics for tracking visitors.
