<div data-ng-if="numberOfFriends(ngDialogData.friends, true) > 0">
    <h4>select up to four friends</h4>

    <table style="width: 100%;" class="table-sc">
        <tbody>
            <tr ng-repeat="friend in ngDialogData.friends | orderBy:'personaname'" data-ng-if="friend.is_subscriber && friend.subscription==='full'">
                <td class="col-leftborder">
                    <input type="checkbox" name="" data-ng-model="compareListModel[friend.steamid]" ng-true-value="true" ng-false-value="false"/>
                </td>
                <td class="col-leftborder">
                    <span data-ng-if="compareListModel[friend.steamid]===false || compareListModel[friend.steamid]===undefined" data-ng-click="compareListModel[friend.steamid]=true">{{friend.personaname}}</span>
                    <span class="text-success" data-ng-if="compareListModel[friend.steamid]" data-ng-click="compareListModel[friend.steamid]=false">{{friend.personaname}}</span>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td colspan="2" class="col-leftborder">
                    <a title="compare up to five friends" data-ng-if="objectSize(compareListModel) < 1" class="btn btn-warning">pick at least one friend</a>
                    <a title="compare up to five friends" data-ng-if="objectSize(compareListModel) > 0 && objectSize(compareListModel) < 4" data-ng-click="doCompare(ngDialogData.steamid)" class="btn btn-success">compare friends</a>
                    <a title="too many friends selected" data-ng-if="objectSize(compareListModel) >= 4" class="btn btn-danger">too many friends selected</a>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </tbody>
    </table>
</div>

<div data-ng-if="numberOfFriends(ngDialogData.friends, true) === 0">
    <h4>holy, fire in the hole!</h4>
    <p>so sad, none of in total {{numberOfFriends(ngDialogData.friends, false)}} friends on Steam, are members of St&#603;amChamber. is the reason that this service sucks big time? or, is it just that all those friends are major noobs?</p>
    <p>if you want to check out how awesome the comparison mode can be, <a data-ng-href="#/compare/76561197971126706,76561198115340720,76561197971281831,76561198096862226" data-ng-click="closeThisDialog()">click this link</a>.</p>
    <p>or, if you really do think this service is crap, you can <a data-ng-href="https://www.youtube.com/watch?v=EbNfbJI2sao" target="_blank">go and get foxrolled</a>.</p>
</div>
