<table style="width: 100%;">
    <thead>
        <tr>
            <th class="col-leftborder">name</th>
            <th class="col-leftborder">value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in ngDialogData.stat">
            <td class="col-leftborder">{{key}}</td>
            <td  class="col-leftborder" style="width: 40%">{{value}}</td>
        </tr>
    </tbody>
</table>
