<div style="padding: 10px;">
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitDone) { jumpToPage('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JFUXN96Q7TD54') }"></iframe>
    <form action="https://docs.google.com/a/vxg.com/forms/d/1BI10jqZVJtutaIA4SH5AI1kXk0u02W0N4hZv3dkJBRM/formResponse" method="post" target="hidden_iframe" onsubmit="submitDone=true;">
        <input type="hidden" name="entry.2079469545" value="full" id="group_2079469545_1">
        <div class="row"><h2>full subscription</h2></div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="form-group">
              <label class="control-label" for="inputDefault">email address:</label>
              <input class="form-control" type="email" name="entry.488520415" value="" id="entry_488520415" dir="auto" aria-label="email address Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="form-group">
              <label class="control-label" for="inputDefault">steam profile url:</label>
               <input class="form-control" type="url" name="entry.1184506883" value="" id="entry_1184506883" dir="auto" aria-label="steam community url Must be a valid URL" aria-required="true" required="" title="Must be a valid URL">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-7">
                &nbsp;
            </div>
            <div class="col-lg-5">
                <input type="submit" name="submit" value="continue to payment" id="ss-submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
